
version: "3.9"
services:
  api:
    image: tiangolo/uvicorn-gunicorn-fastapi:python3.11
    volumes: [ "../../:/app" ]
    working_dir: /app
    command: bash -lc "pip install -r apps/partner-api/requirements.txt && uvicorn apps.partner-api.main:app --host 0.0.0.0 --port 8080"
    ports: ["8080:8080"]
  clickhouse:
    image: clickhouse/clickhouse-server
    ports: ["8123:8123","9000:9000"]
  redis:
    image: redis:7
    ports: ["6379:6379"]
